h1 {
    font-family: sans-serif;
    color: #0e5482;
}

.hide-me {
    display: none;
}

p {
    padding: 4px 0 2px 8px;
    line-height: 1.7;
    border-bottom: 1px dotted #DDD;
    list-style: none;
    margin: 0;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 50px 10%;
}

button {
    background-color: #046380;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 0 #034154;
    margin-bottom: 10px;
    margin-left: 18px;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
    top: -10px;
}

