.active {
    background-color: beige;
}

h1, li {
    font-family: sans-serif
}

body {
    font-family: Helvetica, sans-serif;
    padding: 50px 10%;
}

li {
    padding-top: 10px;
}

button {
    background-color: #046380;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 0 #034154;
    margin-bottom: 10px;
    margin-left: 18px;
    transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
    position: relative;
    top: -10px;
}